body {
    background-color: #000;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #fff,25vw -41vh 0px 0px #fff,-20vw 49vh 0px 1px #fff,5vw 40vh 1px 1px #fff,29vw 19vh 1px 0px #fff,-44vw -13vh 0px 0px #fff,46vw 41vh 0px 1px #fff,-3vw -45vh 0px 1px #fff,47vw 35vh 1px 0px #fff,12vw -8vh 1px 0px #fff,-34vw 48vh 1px 1px #fff,32vw 26vh 1px 1px #fff,32vw -41vh 1px 1px #fff,0vw 37vh 1px 1px #fff,34vw -26vh 1px 0px #fff,-14vw -49vh 1px 0px #fff,-12vw 45vh 0px 1px #fff,-44vw -33vh 0px 1px #fff,-13vw 41vh 0px 0px #fff,-36vw -11vh 0px 1px #fff,-23vw -24vh 1px 0px #fff,-38vw -27vh 0px 1px #fff,16vw -19vh 0px 0px #fff,28vw 33vh 1px 0px #fff,-49vw -4vh 0px 0px #fff,16vw 32vh 0px 1px #fff,36vw -18vh 1px 0px #fff,-25vw -30vh 1px 0px #fff,-23vw 24vh 0px 1px #fff,-2vw -35vh 1px 1px #fff,-25vw 9vh 0px 0px #fff,-15vw -34vh 0px 0px #fff,-8vw -19vh 1px 0px #fff,-20vw -20vh 1px 1px #fff,42vw 50vh 0px 1px #fff,-32vw 10vh 1px 0px #fff,-23vw -17vh 0px 0px #fff,44vw 15vh 1px 0px #fff,-40vw 33vh 1px 1px #fff,-43vw 8vh 0px 0px #fff,-48vw -15vh 1px 1px #fff,-24vw 17vh 0px 0px #fff,-31vw 50vh 1px 0px #fff,36vw -38vh 0px 1px #fff,-7vw 48vh 0px 0px #fff,15vw -32vh 0px 0px #fff,29vw -41vh 0px 0px #fff,2vw 37vh 1px 0px #fff,7vw -40vh 1px 1px #fff,15vw 18vh 0px 0px #fff,25vw -13vh 1px 1px #fff,-46vw -12vh 1px 1px #fff,-18vw 22vh 0px 0px #fff,23vw -9vh 1px 0px #fff,50vw 12vh 0px 1px #fff,45vw 2vh 0px 0px #fff,14vw -48vh 1px 0px #fff,23vw 43vh 0px 1px #fff,-40vw 16vh 1px 1px #fff,20vw -31vh 0px 1px #fff,-17vw 44vh 1px 1px #fff,18vw -45vh 0px 0px #fff,33vw -6vh 0px 0px #fff,0vw 7vh 0px 1px #fff,-10vw -18vh 0px 1px #fff,-19vw 5vh 1px 0px #fff,1vw 42vh 0px 0px #fff,22vw 48vh 0px 1px #fff,39vw -8vh 1px 1px #fff,-6vw -42vh 1px 0px #fff,-47vw 34vh 0px 0px #fff,-46vw 19vh 0px 1px #fff,-12vw -32vh 0px 0px #fff,-45vw -38vh 0px 1px #fff,-28vw 18vh 1px 0px #fff,-38vw -46vh 1px 1px #fff,49vw -6vh 1px 1px #fff,-28vw 18vh 1px 1px #fff,10vw -24vh 0px 1px #fff,-5vw -11vh 1px 1px #fff,33vw -8vh 1px 0px #fff,-16vw 17vh 0px 0px #fff,18vw 27vh 0px 1px #fff,-8vw -10vh 1px 1px #fff;
    /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */

    box-shadow: 24vw 9vh 1px 0px #fff,12vw -24vh 0px 1px #fff,-45vw -22vh 0px 0px #fff,-37vw -40vh 0px 1px #fff,29vw 19vh 0px 1px #fff,4vw -8vh 0px 1px #fff,-5vw 21vh 1px 1px #fff,-27vw 26vh 1px 1px #fff,-47vw -3vh 1px 1px #fff,-28vw -30vh 0px 1px #fff,-43vw -27vh 0px 1px #fff,4vw 22vh 1px 1px #fff,36vw 23vh 0px 0px #fff,-21vw 24vh 1px 1px #fff,-16vw 2vh 1px 0px #fff,-16vw -6vh 0px 0px #fff,5vw 26vh 0px 0px #fff,-34vw 41vh 0px 0px #fff,1vw 42vh 1px 1px #fff,11vw -13vh 1px 1px #fff,48vw -8vh 1px 0px #fff,22vw -15vh 0px 0px #fff,45vw 49vh 0px 0px #fff,43vw -27vh 1px 1px #fff,20vw -2vh 0px 0px #fff,8vw 22vh 0px 1px #fff,39vw 48vh 1px 1px #fff,-21vw -11vh 0px 1px #fff,-40vw 45vh 0px 1px #fff,11vw -30vh 1px 0px #fff,26vw 30vh 1px 0px #fff,45vw -29vh 0px 1px #fff,-2vw 18vh 0px 0px #fff,-29vw -45vh 1px 0px #fff,-7vw -27vh 1px 1px #fff,42vw 24vh 0px 0px #fff,45vw -48vh 1px 0px #fff,-36vw -18vh 0px 0px #fff,-44vw 13vh 0px 1px #fff,36vw 16vh 0px 1px #fff,40vw 24vh 0px 0px #fff,18vw 11vh 0px 0px #fff,-15vw -23vh 1px 0px #fff,-24vw 48vh 0px 1px #fff,27vw -45vh 1px 0px #fff,-2vw -24vh 0px 1px #fff,-15vw -28vh 0px 0px #fff,-43vw 13vh 1px 0px #fff,7vw 27vh 1px 0px #fff,47vw 5vh 0px 0px #fff,-45vw 15vh 1px 1px #fff,-5vw -28vh 0px 1px #fff,38vw 25vh 1px 1px #fff,-39vw -1vh 1px 0px #fff,5vw 0vh 1px 0px #fff,49vw 13vh 0px 0px #fff,48vw 10vh 0px 1px #fff,19vw -28vh 0px 0px #fff,4vw 7vh 0px 0px #fff,21vw 21vh 1px 1px #fff,-15vw -15vh 0px 1px #fff,-6vw -42vh 1px 0px #fff,-15vw 48vh 1px 1px #fff,-23vw 25vh 1px 1px #fff,-48vw 25vh 0px 1px #fff,-31vw -19vh 0px 1px #fff,4vw 37vh 1px 1px #fff,-43vw 28vh 0px 0px #fff,3vw -25vh 0px 1px #fff,-39vw 14vh 0px 1px #fff,-40vw 31vh 0px 1px #fff,35vw -36vh 1px 1px #fff,16vw 49vh 0px 0px #fff,6vw 39vh 0px 0px #fff,3vw -35vh 0px 1px #fff,-44vw -2vh 1px 0px #fff,-6vw 21vh 1px 0px #fff,48vw 9vh 1px 1px #fff,-43vw 30vh 1px 1px #fff,29vw -12vh 1px 1px #fff,-48vw 13vh 1px 0px #fff,-42vw 32vh 1px 1px #fff,34vw 15vh 1px 1px #fff,29vw -37vh 1px 1px #fff,28vw 2vh 0px 0px #fff;
    animation: zoom 16s alternate infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}
/* ===== ESTILOS ORIGINALES ===== */
#popup {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

/* Intro */
#intro {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 100;
}

    #intro h1 {
        font-family: "Marck Script", serif;
        text-align: center;
        font-size: 60px;
        margin-bottom: 20px;
        color: #fff;
        text-shadow: 0 0 20px rgba(255,255,255,0.5);
    }

#startBtn {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(135deg, #ff477e, #ff6b9d);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(255, 71, 126, 0.4);
    transition: transform 0.3s;
}

    #startBtn:hover {
        transform: scale(1.05);
    }

/* Universo */
#universe {
    position: absolute;
    inset: 0;
    z-index: 50;
}

/* Luna */
#moon {
    position: absolute;
    top: 8%;
    right: 10%;
    width: 120px;
    height: 120px;
    background-image: url("img/luna.png"); /* tu imagen */
    background-size: cover; /* cubrir todo el div */
    background-position: center; /* centrar la imagen */
    background-repeat: no-repeat; /* no repetir */
    border-radius: 50%; /* opcional, mantiene forma circular */
    box-shadow: 0 0 30px rgba(255,255,255,0.6); /* brillo */
    animation: moonGlow 6s ease-in-out infinite;
    z-index: 2;
}


@keyframes moonGlow {
    0% {
        box-shadow: 0 0 25px rgba(255,255,255,0.4);
    }

    50% {
        box-shadow: 0 0 45px rgba(255,255,255,0.8);
    }

    100% {
        box-shadow: 0 0 25px rgba(255,255,255,0.4);
    }
}


/* Constelaciones */
#constellations {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 51;
}

    #constellations line {
        stroke: rgba(255,255,255,0.4);
        stroke-width: 1.5;
        stroke-dasharray: 5;
    }

/* Estrellas triangulares */
.star {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("img/star.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    opacity: 0;
    transform: scale(0);
    transition: all 0.6s ease;
    animation: twinkle 2.5s infinite alternate;
    z-index: 60;
}

    .star.show {
        opacity: 1;
        transform: scale(1);
    }

@keyframes twinkle {
    from {
        filter: drop-shadow(0 0 3px white);
    }

    to {
        filter: drop-shadow(0 0 8px white);
    }
}

/* Corazón */
#finalStar {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    font-size: 40px;
    cursor: pointer;
    animation: pulse 1.5s infinite;
    transition: 0.6s;
    z-index: 60;
}

    #finalStar.show {
        transform: translateX(-50%) scale(1);
        opacity: 1;
    }

@keyframes pulse {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.2);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

#popupText {
    font-family: 'Marck Script', cursive;
    font-size: 18px;
    line-height: 1.5em;
    color: #333;
    white-space: pre-wrap;
}

/* POPUP SOBRE Y CARTA */
:root {
    --primario: #fff;
    --fondo: #ffebf2;
    --fondo-sobre: #ffe3ed;
    --solapa-sobre: #ffccd5;
    --cuerpo-sobre: #ffc1d1;
    --sombra: rgba(0,0,0,0.2);
    --texto: #003049;
    --corazon: #ff477e;
}

#popup {
    position: absolute;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.contenedor {
    width: 400px;
    position: relative;
    z-index: 1001;
}

.envoltura-sobre {
    position: relative;
    background-color: var(--fondo-sobre);
    box-shadow: 0 0 40px var(--sombra);
    border-radius: 15px;
}

.sobre {
    position: relative;
    width: 400px;
    height: 300px;
}

    .sobre::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 4;
        border-top: 180px solid var(--solapa-sobre);
        border-right: 200px solid transparent;
        border-left: 200px solid transparent;
        transform-origin: top;
        transition: all 0.5s ease-in-out 0.7s;
        border-radius: 10px;
    }

.solapa-derecha {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(100% 0,0 100%,100% 100%);
    background-color: var(--cuerpo-sobre);
    border-radius: 10px;
}

.solapa-izquierda {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0,0 100%,100% 100%);
    background-color: var(--cuerpo-sobre);
    border-radius: 10px;
}

.carta {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primario);
    text-align: center;
    box-shadow: 0 0 5px var(--sombra);
    padding: 20px;
    border-radius: 10px;
    transition: transform .5s ease-in-out;
}

.contenido {
    font-family: "Gill Sans", Calibri, sans-serif;
    color: var(--texto);
    text-align: left;
    font-size: 12px;
    border: 3px solid var(--texto);
    padding: 10px;
    height: 100%;
    line-height: 14px;
    cursor: pointer;
    overflow-Y: scroll;
}

.corazon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--corazon);
    transform: translate(-50%,0) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    z-index: 999;
    cursor: pointer;
}

    .corazon::before, .corazon::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: var(--corazon);
        border-radius: 100%;
    }

    .corazon:before {
        top: -15px;
    }

    .corazon:after {
        right: 15px;
    }

.abierto .sobre::before {
    transform: rotateX(180deg);
    z-index: 0;
}

.abierto .corazon {
    transform: rotate(90deg);
    transition-delay: 0.4s;
}

.carta.mostrar-carta {
    transform: translateY(-290px);
    transition: transform .5s ease-in-out;
}

.carta.cerrando-carta {
    transform: translateY(-290px);
    transition: transform .5s ease-in-out;
}

.carta.abierta {
    z-index: 10000;
}

.envoltura-sobre.desactivar-sobre .sobre::before {
    pointer-events: none;
}

@media screen and (max-width:400px) {
    .contenedor {
        width: 300px;
    }

    .sobre {
        width: 300px;
        height: 250px;
    }

        .sobre::before {
            border-top: 150px solid var(--solapa-sobre);
            border-left: 150px solid transparent;
            border-right: 150px solid transparent;
        }

    #intro h1 {
        font-size: 40px;
    }
}
